// ===============================================================
// Airbnb JavaScript Style Guide
// https://github.com/airbnb/javascript
// https://github.com/walmartlabs/eslint-config-defaults
// http://eslint.org/docs/rules/
// ===============================================================
extends: "airbnb/base"

ecmaFeatures:
  generators: true
  modules: false

rules:
  comma-dangle: [2, "never"]
  eqeqeq: 0
  func-names: 0
  indent: [2, 2, {"SwitchCase": 1}]
  max-len: [1, 120, 2]
  new-cap: [2, {newIsCap: true, capIsNew: false}]
  no-unused-expressions: 0
  no-param-reassign: 0
  space-before-function-paren: [2, "never"]
  spaced-comment: [2, "always", {exceptions: ["*", "!"]}]
  strict: [2, "global"]
