//
// Variables
// --------------------------------------------------

@import "libs/variables-font-awesome"
@import "libs/variables-bootstrap"

$sidenav-width = 160px
$list-space = 5px
$alert-success-bg = #92ccbb
$alert-success-border = #92ccbb
